.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info>button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    /* color: #131921; */
    padding: 0.21rem 0.7rem 0.18rem;
    font-size: 14px;
    cursor: pointer;
    /* padding: 0.7em 1rem; */
    /* border-color: #0000;
    box-shadow: 0 0 9px -3px #f0c14b,
    0 0 20px -6px #f0c14b;
    border-radius: 3px; */
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

/* .checkoutProduct__rating {
    display: flex;
    color: #f0c14b;
}

.checkoutProduct__rating>* {
    font-size: large;
} */

.checkoutProduct__title {
    font-size: 17px;
    /* font-weight: 800; */
    font-weight: 700;
}